/* Generale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f6f6;
}

span,
h3,
p,
i {
    color: white;
}

h2 {
    font-size: small;
}

/* fine Generale */

header {
    background-color: orange;
    height: 40px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px 10px;

}

.logo {
    position: relative;
    right: 50px;

}

.icon {
    color: white;
}



footer {

    background-color: black;
    row-gap: 15px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    column-gap: 520px;
    padding: 20px;

}

.icone {
    display: flex;
    column-gap: 5px;
    margin-top: 5px;
}

.information {
    flex-direction: column;
    display: flex;
    row-gap: 5px;
}



.bottone-sconto {
    font-size: 15px;
    text-align: center;
    width: 40px;
    height: 20px;
    background-color: red;
    color: white;
    position: absolute;
    bottom: 90px;
}

.sostenibilità {
    font-size: 15px;
    text-align: center;
    width: 80px;
    height: 20px;
    background-color: green;
    color: white;
    position: absolute;
    bottom: 90px;
    left: 45px;


}

.sostenibilitàlast {
    font-size: 15px;
    text-align: center;
    width: 80px;
    height: 20px;
    background-color: green;
    color: white;
    position: absolute;
    bottom: 90px;


}

.prezzo {
    color: red;
}

.sconto {
    color: black;
}

.card img {
    width: 100%;
}

.card {
    margin: 8px 8px;
    width: calc(100% / 3 - 16px);
    flex-shrink: 0;
    background-color: #f6f6f6;
    position: relative;

}



.contenitore {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 150px;

}

.cuore {

    background-color: white;
    color: #000;
    position: absolute;
    top: 10px;
    right: 0px;
    font-size: 50px;
    cursor: default;
    pointer-events: visible;

}

.cuore:hover {
    color: red;
}